body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:900px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1951px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1951px;
  display:flex;
}
#u733 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:1150px;
  width:903px;
  height:802px;
}
#u735_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:802px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u735_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u738_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:224px;
  height:129px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:11px;
  width:220px;
  height:125px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#C0A8A2;
  text-align:left;
}
#u738 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u739_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:224px;
  height:129px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:11px;
  width:220px;
  height:125px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#C0A8A2;
  text-align:left;
}
#u739 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u740_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:224px;
  height:129px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:11px;
  width:220px;
  height:125px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#C0A8A2;
  text-align:left;
}
#u740 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 2px rgba(184, 184, 193, 1);
  -webkit-box-shadow:1px 1px 2px rgba(184, 184, 193, 1);
  box-shadow:1px 1px 2px rgba(184, 184, 193, 1);
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#333333;
  text-align:left;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:11px;
  width:220px;
  height:125px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#333333;
  text-align:left;
}
#u741 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:711px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.9921568627450981);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:92px;
  width:903px;
  height:711px;
  display:flex;
}
#u743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u744_input {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  padding:5px 2px 2px 5px;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u744_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  padding:5px 2px 2px 5px;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  background:inherit;
  background-color:rgba(217, 217, 222, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:233px;
  width:700px;
  height:70px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u744 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u744_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u744.disabled {
}
.u744_input_option {
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u745_input {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  padding:5px 2px 2px 5px;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u745_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  padding:5px 2px 2px 5px;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  background:inherit;
  background-color:rgba(217, 217, 222, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:318px;
  width:700px;
  height:70px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u745 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u745_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u745.disabled {
}
.u745_input_option {
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u735_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:802px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u735_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:223px;
  height:129px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:11px;
  width:219px;
  height:125px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#C0A8A2;
  text-align:left;
}
#u748 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:223px;
  height:129px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:11px;
  width:219px;
  height:125px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#333333;
  text-align:left;
}
#u749 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:223px;
  height:129px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:11px;
  width:219px;
  height:125px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#C0A8A2;
  text-align:left;
}
#u750 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:223px;
  height:129px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:219px;
  height:125px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#C0A8A2;
  text-align:left;
}
#u751 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:711px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.9921568627450981);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:92px;
  width:903px;
  height:711px;
  display:flex;
}
#u753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u754_input {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  padding:5px 2px 2px 5px;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u754_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  padding:5px 2px 2px 5px;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  background:inherit;
  background-color:rgba(217, 217, 222, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:233px;
  width:700px;
  height:70px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u754 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u754_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u754.disabled {
}
.u754_input_option {
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u755_input {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  padding:5px 2px 2px 5px;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u755_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  padding:5px 2px 2px 5px;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  background:inherit;
  background-color:rgba(217, 217, 222, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:318px;
  width:700px;
  height:70px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u755 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u755_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u755.disabled {
}
.u755_input_option {
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u735_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:802px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u735_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u758_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:223px;
  height:129px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:11px;
  width:219px;
  height:125px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#C0A8A2;
  text-align:left;
}
#u758 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u759_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:223px;
  height:129px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:11px;
  width:219px;
  height:125px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#C0A8A2;
  text-align:left;
}
#u759 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u760_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:223px;
  height:129px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:11px;
  width:219px;
  height:125px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#333333;
  text-align:left;
}
#u760 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u761_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:223px;
  height:129px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:219px;
  height:125px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#C0A8A2;
  text-align:left;
}
#u761 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:711px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.9921568627450981);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:92px;
  width:903px;
  height:711px;
  display:flex;
}
#u763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u764_input {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  padding:5px 2px 2px 5px;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u764_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  padding:5px 2px 2px 5px;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  background:inherit;
  background-color:rgba(217, 217, 222, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:233px;
  width:700px;
  height:70px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u764 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u764_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u764.disabled {
}
.u764_input_option {
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u765_input {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  padding:5px 2px 2px 5px;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u765_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  padding:5px 2px 2px 5px;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  background:inherit;
  background-color:rgba(217, 217, 222, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:318px;
  width:700px;
  height:70px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u765 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u765_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u765.disabled {
}
.u765_input_option {
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u735_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:802px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u735_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:223px;
  height:129px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:11px;
  width:219px;
  height:125px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#333333;
  text-align:left;
}
#u768 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:223px;
  height:129px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:11px;
  width:219px;
  height:125px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#C0A8A2;
  text-align:left;
}
#u769 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:223px;
  height:129px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:11px;
  width:219px;
  height:125px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#C0A8A2;
  text-align:left;
}
#u770 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:223px;
  height:129px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:219px;
  height:125px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#C0A8A2;
  text-align:left;
}
#u771 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:711px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.9921568627450981);
  border:none;
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:92px;
  width:903px;
  height:711px;
  display:flex;
}
#u773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u774_input {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  padding:5px 2px 2px 5px;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u774_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  padding:5px 2px 2px 5px;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  background:inherit;
  background-color:rgba(217, 217, 222, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:233px;
  width:700px;
  height:70px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u774 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u774_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u774.disabled {
}
.u774_input_option {
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u775_input {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  padding:5px 2px 2px 5px;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u775_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  padding:5px 2px 2px 5px;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  background:inherit;
  background-color:rgba(217, 217, 222, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:318px;
  width:700px;
  height:70px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u775 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u775_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u775.disabled {
}
.u775_input_option {
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:75px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:1808px;
  width:800px;
  height:75px;
  display:flex;
}
#u777 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:rgba(255, 255, 255, 0.9921568627450981);
}
#u778 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:1825px;
  width:291px;
  height:42px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:rgba(255, 255, 255, 0.9921568627450981);
}
#u778 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:523px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.4235294117647059);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:519px;
  width:628px;
  height:523px;
  display:flex;
}
#u780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:9px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1003px;
  width:110px;
  height:9px;
  display:flex;
}
#u781 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:rgba(255, 255, 255, 0.9921568627450981);
  text-align:center;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:674px;
  width:350px;
  height:82px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:rgba(255, 255, 255, 0.9921568627450981);
  text-align:center;
}
#u782 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:2px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:894px;
  width:502px;
  height:2px;
  display:flex;
  opacity:0.6;
}
#u784 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:34px;
  color:#C0A8A2;
  text-align:center;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:835px;
  width:628px;
  height:57px;
  display:flex;
  font-size:34px;
  color:#C0A8A2;
  text-align:center;
}
#u785 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:57px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:418px;
  width:56px;
  height:57px;
  display:flex;
}
#u787 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:rgba(255, 255, 255, 0.9921568627450981);
  text-align:center;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:414px;
  width:182px;
  height:66px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:rgba(255, 255, 255, 0.9921568627450981);
  text-align:center;
}
#u788 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:106px;
  width:80px;
  height:18px;
  display:flex;
}
#u790 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:40px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:93px;
  width:23px;
  height:40px;
  display:flex;
}
#u791 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:66px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:76px;
  width:57px;
  height:66px;
  display:flex;
  opacity:0.7;
}
#u793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:61px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:82px;
  width:120px;
  height:72px;
  display:flex;
  opacity:0.7;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:61px;
}
#u794 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
