body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:430px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:932px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:932px;
  display:flex;
}
#u311 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:932px;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:932px;
  display:flex;
}
#u312 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u314 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:584px;
  width:390px;
  height:266px;
  display:flex;
}
#u314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:826px;
  width:305px;
  height:1px;
  display:flex;
}
#u316 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#555555;
  line-height:20px;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:780px;
  width:136px;
  height:15px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#555555;
  line-height:20px;
}
#u317 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#91929F;
  line-height:20px;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:804px;
  width:191px;
  height:15px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#91929F;
  line-height:20px;
}
#u318 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:767px;
  width:305px;
  height:1px;
  display:flex;
}
#u320 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#555555;
  line-height:20px;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:721px;
  width:123px;
  height:15px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#555555;
  line-height:20px;
}
#u321 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#91929F;
  line-height:20px;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:745px;
  width:191px;
  height:15px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#91929F;
  line-height:20px;
}
#u322 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:708px;
  width:305px;
  height:1px;
  display:flex;
}
#u324 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#555555;
  line-height:20px;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:662px;
  width:171px;
  height:15px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#555555;
  line-height:20px;
}
#u325 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#91929F;
  line-height:20px;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:686px;
  width:191px;
  height:15px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#91929F;
  line-height:20px;
}
#u326 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:648px;
  width:305px;
  height:1px;
  display:flex;
}
#u328 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#555555;
  line-height:20px;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:603px;
  width:191px;
  height:15px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#555555;
  line-height:20px;
}
#u329 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#91929F;
  line-height:20px;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:626px;
  width:191px;
  height:15px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#91929F;
  line-height:20px;
}
#u330 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#555555;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:547px;
  width:120px;
  height:27px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#555555;
}
#u331 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u333 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:445px;
  width:390px;
  height:80px;
  display:flex;
}
#u333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FC4A36;
  text-align:center;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:475px;
  width:137px;
  height:22px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FC4A36;
  text-align:center;
}
#u334 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u334_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:469px;
  width:33px;
  height:33px;
  display:flex;
}
#u335 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u337 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:212px;
  width:178px;
  height:211px;
  display:flex;
}
#u337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:277px;
  width:33px;
  height:33px;
  display:flex;
}
#u339 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FC4A36;
  text-align:center;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:314px;
  width:80px;
  height:44px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FC4A36;
  text-align:center;
}
#u340 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u340_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u342 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:212px;
  width:178px;
  height:211px;
  display:flex;
}
#u342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:277px;
  width:33px;
  height:33px;
  display:flex;
}
#u344 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FC4A36;
  text-align:center;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:314px;
  width:80px;
  height:44px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FC4A36;
  text-align:center;
}
#u345 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u345_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:100px;
  background:-webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 96%, rgba(252, 74, 54, 1) 96%, rgba(252, 74, 54, 1) 100%);
  background:-moz-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 96%, rgba(252, 74, 54, 1) 96%, rgba(252, 74, 54, 1) 100%);
  background:linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 96%, rgba(252, 74, 54, 1) 96%, rgba(252, 74, 54, 1) 100%);
  border:none;
  border-radius:10px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u347 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:90px;
  width:390px;
  height:100px;
  display:flex;
}
#u347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:109px;
  width:181px;
  height:24px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u348 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.49411764705882355);
}
#u349 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:147px;
  width:181px;
  height:24px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.49411764705882355);
}
#u349 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:31px;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:24px;
  width:27px;
  height:31px;
  display:flex;
  opacity:0.7;
}
#u352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:27px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:29px;
  width:52px;
  height:31px;
  display:flex;
  opacity:0.7;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:27px;
}
#u353 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u353_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:32px;
  width:11px;
  height:19px;
  display:flex;
}
#u354 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
