body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:430px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:932px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:932px;
  display:flex;
}
#u371 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:932px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:932px;
  display:flex;
}
#u372 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u374 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:584px;
  width:390px;
  height:266px;
  display:flex;
}
#u374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:826px;
  width:305px;
  height:1px;
  display:flex;
}
#u376 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#555555;
  line-height:20px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:780px;
  width:136px;
  height:15px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#555555;
  line-height:20px;
}
#u377 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#91929F;
  line-height:20px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:804px;
  width:191px;
  height:15px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#91929F;
  line-height:20px;
}
#u378 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:767px;
  width:305px;
  height:1px;
  display:flex;
}
#u380 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#555555;
  line-height:20px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:721px;
  width:123px;
  height:15px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#555555;
  line-height:20px;
}
#u381 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#91929F;
  line-height:20px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:745px;
  width:191px;
  height:15px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#91929F;
  line-height:20px;
}
#u382 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:708px;
  width:305px;
  height:1px;
  display:flex;
}
#u384 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#555555;
  line-height:20px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:662px;
  width:171px;
  height:15px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#555555;
  line-height:20px;
}
#u385 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#91929F;
  line-height:20px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:686px;
  width:191px;
  height:15px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#91929F;
  line-height:20px;
}
#u386 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:648px;
  width:305px;
  height:1px;
  display:flex;
}
#u388 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#555555;
  line-height:20px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:603px;
  width:191px;
  height:15px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#555555;
  line-height:20px;
}
#u389 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#91929F;
  line-height:20px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:626px;
  width:191px;
  height:15px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#91929F;
  line-height:20px;
}
#u390 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#555555;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:547px;
  width:120px;
  height:27px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#555555;
}
#u391 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u393 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:445px;
  width:390px;
  height:80px;
  display:flex;
}
#u393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FC4A36;
  text-align:center;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:475px;
  width:137px;
  height:22px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FC4A36;
  text-align:center;
}
#u394 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u394_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:469px;
  width:33px;
  height:33px;
  display:flex;
}
#u395 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u397 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:212px;
  width:178px;
  height:211px;
  display:flex;
}
#u397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:277px;
  width:33px;
  height:33px;
  display:flex;
}
#u399 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FC4A36;
  text-align:center;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:314px;
  width:80px;
  height:44px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FC4A36;
  text-align:center;
}
#u400 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u400_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u402 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:212px;
  width:178px;
  height:211px;
  display:flex;
}
#u402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:277px;
  width:33px;
  height:33px;
  display:flex;
}
#u404 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FC4A36;
  text-align:center;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:314px;
  width:80px;
  height:44px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FC4A36;
  text-align:center;
}
#u405 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u405_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:100px;
  background:-webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 96%, rgba(252, 74, 54, 1) 96%, rgba(252, 74, 54, 1) 100%);
  background:-moz-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 96%, rgba(252, 74, 54, 1) 96%, rgba(252, 74, 54, 1) 100%);
  background:linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 96%, rgba(252, 74, 54, 1) 96%, rgba(252, 74, 54, 1) 100%);
  border:none;
  border-radius:10px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u407 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:90px;
  width:390px;
  height:100px;
  display:flex;
}
#u407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:109px;
  width:181px;
  height:24px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u408 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.49411764705882355);
}
#u409 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:147px;
  width:181px;
  height:24px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.49411764705882355);
}
#u409 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:31px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:24px;
  width:27px;
  height:31px;
  display:flex;
  opacity:0.7;
}
#u412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:27px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:29px;
  width:52px;
  height:31px;
  display:flex;
  opacity:0.7;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:27px;
}
#u413 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u413_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:32px;
  width:11px;
  height:19px;
  display:flex;
}
#u414 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
